//registry.npmjs.org/:_password=Ln0hPG92ezxtLy5Hd0JtKUo+Qik=
//registry.npmjs.org/:username=wilhelmson
//registry.npmjs.org/:email=j.williamson.sd@gmail.com
//registry.npmjs.org/:always-auth=false

prefix=%{HOME}/.npm-packages
